body {
    background:#777;
  }
  
  #background {
      width:300px;
      height:400px;
      background:whitesmoke;
      margin:50px auto;
      -webkit-animation:bgChange 1s 1s alternate infinite;
      transition: all 1s ease;
  }
  
  button {
      border:0;
      color:#fff;
  }
  
  #result {
      display:block;
      font-family: sans-serif;
      width:230px;
      height:40px;
      margin:10px auto;
      text-align: right;
      border:0;
      background:#3b3535;
      color:#fff;
      padding-top:10px;
      font-size:20px;
      margin-left: 25px;
      outline: none;
      overflow: hidden;
      letter-spacing: 4px;
      position: relative;
      top:10px;
  }
  
  #result:hover {
      cursor: text;
  }
  
  #first-rows {
      margin-bottom: 20px;
      position: relative;
      top:10px;
  }
  
  .rows {
      width:300px;
      margin-top:10px;
  }
  
  #delete {
      width:110px;
      height:50px;
      margin-left:25px;
      border-radius:4px;
       background:#24b4de;
      color:#fff;
      font-size:26px;
      cursor: pointer;
      outline:none;
      border-bottom:3px solid #399cb9;
  }
  /* Button styling */
  .btn-style {
      width:50px;
      height:50px;
      margin-left:5px;
      border-radius:4px;
  }
  
  .eqn {
      width:50px;
      height:50px;
      margin-left:5px;
      border-radius:4px;
      background:#17a928;
      color:#fff;
      font-size:26px;
      cursor: pointer;
      outline:none;
      border-bottom:3px solid #1f7a29;
  }
  #eqn:active {
      background:#17a928;
      color:#fff;
      font-size:26px;
      cursor: pointer;
      outline:none;
      box-shadow: inset 4px 4px 4px #1f7a29;
  }
  .first-child {
   margin-left:25px;
  }
  /* Adding background color to the number values */
   .num{
      background:#000;
      color:#fff;
      font-size:26px;
      cursor:pointer;
      outline:none;
      border-bottom:3px solid #333;
  }
   .num:active {
      background:#000;
      color:#fff;
      font-size:26px;
      cursor:pointer;
      outline:none;
      box-shadow: inset 5px 5px 5px #555;
  }
  
  /*Adding background color to the operator values */
  .opera-bg {
      background:#333;
      color:#fff;
      font-size:26px;
      cursor: pointer;
      outline:none;
      border-bottom:3px solid #555;
  }
  
  .opera-bg:active {
      background:#333;
      color:#fff;
      font-size:26px;
      cursor: pointer;
      outline:none;
      box-shadow: inset 4px 4px 4px #555;
  }
  @-webkit-keyframes bgChange {
      0% {
         background:#00ffff;
      }
  
      50% {
        background:#ff00ff;
      }
  
      100% {
          background:#399cb9;
      }
      50% {
        background:#ff008f;
      }
      50% {
        background:#ff0088;
      }
      50% {
        background:#ff08ff;
      }
      50% {
        background:#ff44ff;
      }
      50% {
        background:#0000ff;
      }
  }
  